#include <jni.h>
jint onJniLoad(JavaVM *vm, void *reserved);
long baseImageAddr(const char *soname);
bool fakeCpp(void *function_address, void *replace_call,void **origin_call);
bool fakeDex(JNIEnv *env,jobject base,const char *fakeDexAssetFileName);
bool installDex(JNIEnv* env, jobject context, const char *dexPath);